<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <form id="search" class="form-inline">
      <input type="date" style="margin: 5px" class="textAdd" class="form-control" name="fast"
        [(ngModel)]="newFast.date" />
      <input type="number" style="margin: 5px" placeholder="Length in Hours" class="textAdd" class="form-control"
        name="fast" [(ngModel)]="newFast.length" />
      <!-- <input min="00:00" max="23:59" type="time" style="margin: 5px" class="textAdd" class="form-control" name="start" [(ngModel)]="newFast.start" /> -->
      <!-- <input  min="00:00" max="23:59" type="time" style="margin: 5px" class="textAdd" class="form-control" name="end" [(ngModel)]="newFast.end" /> -->
      <input type="submit" class="btn btn-primary" style="margin: 5px;" value="Add Fast" (click)="addFast(newFast)" />
    </form>

    <!-- <span id="count"> -->
    <!-- <h1 class="badge badge-primary " style="margin-left: 860px;"> {{getNumFasts()}}</h1> -->
    <!-- </span> -->
  </nav>
  <div *ngIf="!selected"></div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th></th>
        <th></th>
        <th>Length</th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fast of fasts">
        <!-- <td (click)="selected = fast"> -->
        <td>
          <!-- <div class="post">
            <p class="calendar"> {{ fast.date | date:"d" }} <em>
                {{ fast.date | date:"MMMM" }}
              </em></p>
          </div> -->

          <figure>
            <header>
              <script>

              </script>
              <p style="font-size: 35px; margin-top: 33px; color: darkslategray">{{ fast.date | date:"d" }}</p>
            </header>
            <section>
              <p
                style="font-size: 20px; margin-top: -55px; color: white; font-family:'Courier New', Courier, monospace; letter-spacing: .5px;">
                {{ fast.date | date:"MMMM" }}</p>
              <script>

              </script>
              <p style="font-size: 20px; margin-top: -19px; color: white; font-family:'Courier New', Courier, monospace; letter-spacing: .5px;">{{ fast.date | date:"EEEE" }}</p>
            </section>
          </figure>
        </td>
        <!-- </td> -->
        <td (click)="selected = fast"> {{fast.start}} </td>
        <td (click)="selected = fast"> {{fast.end}} </td>
        <td (click)="selected = fast"> {{fast.length}} </td>
        <td></td>

        <td><button class="btn btn-primary" (click)="deleteFast(fast.id)"><img id="picDelete"
              src="https://i.imgur.com/gNRL8La.png" alt="" srcset=""></button> </td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selected && ! editSelected" button>
    <ul>
      <!-- <li><strong>ID:</strong> {{selected.id}}</li> -->
      <li><strong>Task:</strong> {{selected.date}}</li>
      <li><strong>Length:</strong> {{selected.length}}</li>
      <!-- <li><strong>Completed:</strong> {{selected.completed}}</li> -->
      <li></li>
      <button class="btn btn-success" (click)="displayTable()">Close</button>
      <button type="submit" style="margin: 5px;" class="btn btn-info" (click)="setEditFast()"
        (click)="displayEditFast()" value="Add Item">Edit</button>
    </ul>
  </div>

  <div *ngIf="editSelected" button>
    <form>
      <h3>Edit</h3>
      <input type="text" style="margin: 5px" class="form-control" name="task" placeholder="Edit Task"
        [(ngModel)]="editFast.date" />
      <label><input type="checkbox" class="form-control" style="margin: 5px;" name="complete"
          placeholder="Complete Status" [(ngModel)]="editFast.length" /></label>
      <input type="submit" name='todo' style="margin: 5px;" class="btn btn-success" (click)="displayTable()"
        (click)="editSelected = false" (click)="updateFast(editFast)" value="Save" />
      <input type="reset" class="btn btn-info" (click)="editFast = null" (click)="displayTable()"
        (click)="editSelected = false" value="Cancel" />
    </form>
  </div>
</body>
